*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html,
.login_form {
    height: 100%;
}

body {
    background: url("../image/2281.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login_form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: center;
    -moz-box-flex: center;
    -webkit-flex: center;
    -ms-flex: center;
    flex: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
}

.login-wrapper {
    max-width: 500px;
    width: 100%;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 200px;
    width: 100%;
    margin: 1em auto 2em;
}

form {
    background: rgba(126, 122, 122, 0.384);
    box-shadow: 10px 10px 10px 1px rgb(160, 158, 158);
    padding: 2em 1em;
    font-family: helvetica, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
}

form label {
    color: #179BD8;
    margin: 0 3% .25em;
    display: block;
    font-family: helvetica, sans-serif;
}

form input {
    width: 94%;
    padding: .5em .25em;
    margin: 0 3% 1em;
    font-size: 1.2em;
    border: 1px solid rgb(184, 183, 183);
    outline: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

form input.password {
    padding-right: 4rem;
}

form input:focus {
    border: 2px solid #1fd100;
}

form button {
    width: 94%;
    margin: 2em 3% 0;
    border: none;
    background: #00306B;
    padding: 1em 0;
    font-size: 1.25em;
    clear: both;
    color: rgb(255, 255, 255);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}

form button:focus,
form button:hover {
    background: #262626;
}

.hide-show {
    color: rgb(255, 255, 255);
    width: 94%;
    margin: -3.62em 3% 0 1.5%;
    position: relative;
    z-index: 5;
    display: none;
}

.hide-show span {
    color: rgb(255, 255, 255);
    background: #00306B;
    font-size: 1em;
    padding: .5em;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}